.App {
  text-align: center;
  background-color: #282c34;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.Divider {
  justify-content: center;
  max-width: 100%;
  max-height: 100%;
}

.Divider img {
  width: 100%;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
html {
  background-color: #d4d4d4;
}

#header-container {
  padding-left: 20px;
  height: 100%;
}
#header-title {
  height: 100%;
}

#canvas {
  padding: 15px;
  height: 100%;
}
#logo {
  width: 400px;
  display: inline-block;
}
.logo img {
  width: 100%;
  height: 100%;
}

.icon-arrow:before {
  content: "\e625";
}

.RosterClassQuestionnaire {
  display: block;
  width: 50%;
  justify-content: center;
  background: #fff;
  border-radius: 5px;
  padding: 40px;
  /* box-shadow: 0px 0px 50px black; */
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin: auto;
  margin-top: 100px;
}

/* ------------------------------------------------------------------------------------------ */
/* Dropdowns START HERE*/
/* First Question - Player Name */
.QuestionnaireTitle {
  text-align: center;
  margin-top: 0px;
}

.PlayerName {
  justify-content: center;
}

.QuestionLabel {
  display: flex;
  margin-top: 30px;
  margin-left: 10px;
  margin-bottom: 0.5rem;
}

.PlayerNameText {
  display: flex;
  margin-top: 0.5rem;
  margin-left: 10px;
  margin-bottom: 0.5rem;
  width: 400px;

  height: 50px;

  color: #000;

  border-radius: 5px;
  box-sizing: border-box;

  box-shadow: none;

  border: 1px solid #ccc;

  outline: 0;

  font-size: 18px;

  font-weight: 400;

  padding: 20px;
}

.PlayerNameText:focus {
  outline: 2px solid hsla(220, 100%, 50%, 80%);
}

@media (max-width: 2465px) {
  .ClassQuestions {
    display: block;
  }
}
@media (min-width: 2466px) {
  .ClassQuestions {
    display: flex;
  }
}

.ClassQuestions {
  margin-top: -15px;
  margin-left: 10px;
  margin-bottom: 0.5rem;
  /* justify-content: center; */
}

.ClassLabel {
  display: flex;
  margin-top: 0;
  margin-left: 10px;
  margin-bottom: 0.5rem;
}

.ClassDropdown {
  margin: 10px;
  margin-top: 0;
  margin-left: 10px;
  margin-bottom: 0.5rem;
  position: relative;

  width: 200px;

  color: #000;
}

.SpecDropdown {
  margin: 10px;
  margin-top: 0;
  margin-left: 10px;
  margin-bottom: 0.5rem;

  position: relative;

  width: 465px;

  color: #000;
}

.CommentSection {
  margin: 10px;
  margin-top: 0;
  margin-left: 10px;
  margin-bottom: 0.5rem;

  position: relative;

  width: 465px;

  color: #000;
}

.ChoiceText {
  margin-top: 0;

  margin-bottom: 0.5rem;
  position: relative;
  padding-left: 1em;

  width: 400px;

  height: 50px;

  color: #000;

  border-radius: 5px;

  box-sizing: border-box;

  box-shadow: none;

  border: 1px solid #ccc;

  outline: 0;

  font-size: 18px;

  font-weight: 400;

  padding: 20px;
}

.ChoiceText:focus {
  outline: 2px solid hsla(220, 100%, 50%, 80%);
}

.ClassDropdown.active .ClassDropdown-ul {
  display: block;
}

.ClassDropdown.active .SpecDropdown-ul {
  display: block;
}

.ClassDropdown-input {
  width: 100%;

  height: 50px;

  border-radius: 5px;

  outline: 0;

  font-size: 18px;

  font-weight: 400;
}

.SpecDropdown-input {
  width: 100%;

  height: 50px;

  border-radius: 5px;

  outline: 0;

  font-size: 18px;

  font-weight: 400;
}

.ClassDropdown-input:focus {
  border: 1px solid #aa0000;

  outline: 0;
}

i {
  position: absolute;

  right: 20px;

  top: 18px;

  transition: transform 0.2s ease;
}

.SpecDropdown-input:focus {
  border: 1px solid #aa0000;

  outline: 0;
}

i {
  position: absolute;

  right: 20px;

  top: 18px;

  transition: transform 0.2s ease;
}

.ClassDropdown.active i {
  transform: rotate(270deg);
}

.SpecDropdown.active i {
  transform: rotate(270deg);
}

.ClassDropdown-ul {
  display: none;

  position: absolute;

  margin: 5px 0 0 0;

  padding: 0;

  width: 100%;

  max-height: 3000px;

  top: 100%;

  left: 0;

  list-style: none;

  border-radius: 2px;

  background: #fff;

  overflow: hidden;

  overflow-y: auto;

  z-index: 100;

  font-size: 18px;

  font-weight: 400;
}

.SpecDropdown-ul {
  display: none;

  position: absolute;

  margin: 5px 0 0 0;

  padding: 0;

  width: 100%;

  max-height: 3000px;

  top: 100%;

  left: 0;

  list-style: none;

  border-radius: 2px;

  background: #fff;

  overflow: hidden;

  overflow-y: auto;

  z-index: 100;

  font-size: 18px;

  font-weight: 400;
}

.ClassDropdown-ul li {
  display: block;

  text-align: left;

  padding: 0.8em 1em 0.8em 1em;

  color: #000;

  cursor: pointer;
}

.SpecDropdown-ul li {
  display: block;

  text-align: left;
  height: 100%;

  padding: 0.8em 1em 0.8em 1em;

  color: #000;

  cursor: pointer;
}

.list-item-dk_ul:hover {
  background: #c41e3a;
  color: #fff;
}
.list-item-dh_ul:hover {
  background: #a330c9;
  color: #fff;
}

.list-item-druid_ul:hover {
  background: #ff7c0a;
  color: #fff;
}
.list-item-evoker_ul:hover {
  background: #33937f;
  color: #fff;
}
.list-item-hunter_ul:hover {
  background: #aad372;
  color: #000;
}
.list-item-mage_ul:hover {
  background: #3fc7eb;
  color: #fff;
}
.list-item-monk_ul:hover {
  background: #00ff98;
  color: #000;
}
.list-item-paladin_ul:hover {
  background: #f48cba;
  color: #fff;
}
.list-item-priest_ul:hover {
  background: #eeeeee;
  color: #000000;
}
.list-item-rogue_ul:hover {
  background: #fff468;
  color: #000;
}
.list-item-shaman_ul:hover {
  background: #0070dd;
  color: #fff;
}
.list-item-warlock_ul:hover {
  background: #8788ee;
  color: #fff;
}
.list-item-warrior_ul:hover {
  background: #c69b6d;
  color: #fff;
}

.SubmitForm {
  display: flex;
  justify-content: center;
  margin-top: 30px;
  padding: 10px;
}
